@charset "UTF-8";

body{
    background-color: rgba(134, 219, 134, 0.781);
    font-family: Arial, Helvetica, sans-serif;
    
}

h1{
    color: rgb(3, 46, 3);
}
h1#principal{
    background-color:  rgb(3, 46, 3);
    text-align: center;
    color: aliceblue;
}
h2{
    color: rgb(25, 107, 25);
}

.bas{
    color: rgba(156, 125, 12, 0.639);
}

.int{
    color: rgba(238, 115, 0, 0.79);
}

.ava{
    color: rgba(245, 0, 0, 0.699);
}

.destaque{
    background-color: rgba(29, 46, 29, 0.502);
    font-weight: bolder;
}
 