@charset "UTF-8";

body{
            background-color: rgb(71, 35, 20);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
        }
        h1{
            color: rgb(0, 0, 0);
            background-color: rgba(231, 150, 121, 0.648);
        }

        h2{
            color: rgb(139, 117, 118);
        }

        p{
            color: antiquewhite;
            text-align: justify;
        }